.canceled {
  text-decoration: solid line-through #ffa7a7 2px;
  animation-duration: 0.4s;
}
.link {
  text-decoration: none;
}
.link :hover {
  text-decoration: solid #ffffff 5px;
}
.done {
  border: 2px solid rgb(167, 247, 186);
}
.doneSubtask {
  background-color: rgb(167, 247, 186);
}

.inputTextField {
  background-color: rgb(121, 121, 121);
}

.MuiAlert-standardError {
  animation: pop 0.1s ease-in-out;
  position: absolute;
  width: 500px;
  top: 92%;
  left: 2%;
  animation-duration: 0.8s; /* don't forget to set a duration! */
}

.ContactOfTask:hover{
  text-decoration: solid line-through #ffffff 2px;
  cursor:pointer;
}


@keyframes pop {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
